@{ Layout = null; }

<!doctype html>

<html lang="en">
<head>
    <title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
@Html.Action("PartialHead", "AdminLayout")

<body>
    <div class="wrapper d-flex align-items-stretch">
        @Html.Action("PartialNavbar", "AdminLayout")

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">

            @RenderBody()
        </div>
    </div>

    @Html.Action("PartialScript", "AdminLayout")
</body>
</html>


@*Razor Syntax ---> Html içinde c# kodları kullanabilmemizi sağlar.*@