@model List<AcunmedyaAkademiPortfolio1.Models.TblMessage>

@{
    ViewBag.Title = "CreateMessage";
    Layout = null;
}

<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">



        <div class="col-lg-8">
            <form action="/Default/CreateMessage" method="post">
                <div class="row gy-4">

                    <div class="col-md-6">
                        <input type="text" name="SenderName" class="form-control" placeholder="Your Name" required="">
                    </div>

                    <div class="col-md-6 ">
                        <input type="email" class="form-control" name="SenderEmail" placeholder="Your Email" required="">
                    </div>

                    <div class="col-md-12">
                        <input type="text" class="form-control" name="Subject" placeholder="Subject" required="">
                    </div>

                    <div class="col-md-12">
                        <textarea class="form-control" name="Detail" rows="6" placeholder="Message" required=""></textarea>
                    </div>

                    <div class="col-md-12 text-center">

                        <button class="btn btn-primary" type="submit">Send Message</button>
                    </div>

                </div>
            </form>
        </div><!-- End Contact Form -->

    </div>

    </div>

</section>