@model AcunmedyaAkademiPortfolio1.Models.TblSkill
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>
<<form method="post">
    <label>Yetenek Id</label>
    @Html.TextBoxFor(x => x.SkillId, new { @class = "form-control hidden" })

 <label>Yetenek Başlık</label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <br />
    <label>Yetenek Değeri</label>
    @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    <br />
 

    <button class="btn btn-success">Tecrübeyi Güncelle</button>
</form>